<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIAppFonts</key>
	<array>
		<string>Montserrat-Italic.ttf</string>
		<string>Montserrat.ttf</string>
	</array>
	<key>NSCalendarsUsageDescription</key>
	<string>By allowing us to access your personal calendar, we can help to integrate your existing routines/schedules into Timebox to get you more productive.</string>
</dict>
</plist>
