<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Avatar-1</key>
	<string>Avatar-1.png</string>
	<key>Avatar-2</key>
	<string>Avatar-2.png</string>
	<key>Avatar-3</key>
	<string>Avatar-3.png</string>
	<key>Avatar-4</key>
	<string>Avatar-4.png</string>
	<key>Avatar-5</key>
	<string>Avatar-5.png</string>
	<key>Avatar-6</key>
	<string>Avatar-6.png</string>
	<key>Avatar-7</key>
	<string>Avatar-7.png</string>
	<key>Avatar-8</key>
	<string>Avatar-8.png</string>
	<key>Avatar-9</key>
	<string>Avatar-9.png</string>
	<key>Avatar-10</key>
	<string>Avatar-10.png</string>
</dict>
</plist>
