<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Goodbye, procrastinations.</key>
		<string>Get yourself focused with the Timeboxing practices.</string>
	</dict>
	<dict>
		<key>Organize your tasks.</key>
		<string>Combining to-do list and calendar eliminates clutter.</string>
	</dict>
	<dict>
		<key>Get things done timely.</key>
		<string>Pomodoro timer keeps you aware of time-sensitive tasks.</string>
	</dict>
</array>
</plist>
